@font-face {
    font-family: Arciformi;
    src: url('/assets/Arciformi.woff2');
}

.hero h1, .site-name {
    font-family: Arciformi, cursive;
    font-weight: normal;
}

.center {
    text-align: center;
}

@font-face {
    font-family: mdx;
    src: url('/assets/MaterialIcons-Regular.woff2');
}

.icon {
    font-family: mdx;
    font-weight: normal;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.select_all {
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
}