@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: Arciformi;
    src: url('/assets/Arciformi.woff2');
}

.hero h1, .site-name {
    font-family: Arciformi, Roboto;
    font-weight: normal;
}

body {
    font-family: Roboto;
}

.center {
    text-align: center;
}

@font-face {
    font-family: mdx;
    src: url('/assets/MaterialIcons-Regular.woff2');
}

.icon {
    font-family: mdx;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}